fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
requests
beautifulsoup4
pymupdf
langchain
langchain-community
langchain-experimental
langchain-groq
langchain-google-genai
langchain-core
langchain-text-splitters
google-genai
google-generativeai
groq
qdrant-client
rank-bm25
langsmith
tiktoken
pypdf
python-docx
httpx
python-multipart
pytest